spring:
  application:
    name: ReserveSpotAPI
  datasource:
    url: jdbc:postgresql://localhost:5432/reserve-spot
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database: postgresql

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile

#logging:
#  level:
#    org:
#      springframework:
#        security: TRACE

#autoconfigure:
#  exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
