<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="container">
    <h2>Login</h2>

    <div th:if="${param.error}" style="color: red;">
        Incorrect password or email
    </div>

    <div th:if="${param.logout}" style="color: green;">
        Logged in
    </div>

    <form th:action="@{/login}" method="post">
        <div>
            <label>Email (username):</label>
            <input type="text" name="username" placeholder="Enter email" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</div>
</body>
</html>